# GOOGLE DATA ANALYTICS CAPSTONE PROJECT (Case Study One):   Chicago -Divvy Bikes Analysis

# Scenario

You are a junior data analyst working in the marketing analyst team at Cyclistic, a bike-share company in Chicago. The director
of marketing believes the company’s future success depends on maximizing the number of annual memberships. Therefore,
your team wants to understand how casual riders and annual members use Cyclistic bikes differently. From these insights,
your team will design a new marketing strategy to convert casual riders into annual members. But first, Cyclistic executives
must approve your recommendations, so they must be backed up with compelling data insights and professional data
visualizations

# Task

How to Improve Chicago-Divvy's Future Success by Maximizing the Number of Annual Memberships

# Background

As a junior data analyst working in the marketing analyst team at Cyclistic, a bike-share company in Chicago. The director of marketing believes the company’s future success depends on maximizing the number of annual memberships. Therefore, my team wants to understand how casual riders and annual members use Cyclistic bikes differently. From these insights, my team will design a new marketing strategy to convert casual riders into annual members.

# Divvy Bikes

Divvy is Chicagoland’s bike share system across Chicago and Evanston. Divvy provides residents and visitors,
with a convenient, fun and affordable transportation option for getting around and exploring Chicago.

Divvy, like other bike share systems, consists of a fleet of specially-designed, sturdy and durable bikes 
that are locked into a network of docking stations throughout the region. The bikes can be unlocked from one 
station and returned to any other station in the system. People use bike share to explore Chicago, commute to 
work or school, run errands, get to appointments or social engagements, and more.

Divvy is available for use 24 hours/day, 7 days/week, 365 days/year, and riders have access to all bikes and 
stations across the system.
To read more check https://ride.divvybikes.com/about

# About the Data

Divvy makes its Historical trip data available for public use. The datasets were downloaded from link, under this license. Each trip is anonymized and includes, trip start day and time, trip end day and time, Trip start station, a Trip end station, Rider type. For this project,Each month's data in a separate CSV file was loaded and were later concatinated. All data  used for this project was gotten from (https://divvy-tripdata.s3.amazonaws.com/index.html) using the data from 202109 - 202208

# Methodology

In order to answer the key business questions in this project, it  will be best to follow the steps of the data analysis process which are: ask, prepare, process, analyze, share, and act, which were taught in the Google Data Analytics Professional Certificate Course on https://www.coursera.org/

# Stage One: Ask

•	How do annual members and casual riders use Cyclistic bikes differently?

•	Why would casual riders buy Cyclistic annual memberships?

•	How can Cyclistic use digital media to influence casual riders to become members?

# Stage Two: Prepare

# Data Source

Divvy is available for use 24 hours/day, 7 days/week, 365 days/year, and riders have access to all bikes and stations across the system. To read more check https://ride.divvybikes.com/about
All data  used for this project was gotten from (https://divvy-tripdata.s3.amazonaws.com/index.html) using the data from 202109 - 202208

# Data Credibility

The data used in this project was gotten fromn the bike company official website which is relaible and its always
updated and uploaded every month. Each data is been seperated for by months which makes it so easy to access and 
use.

# Data Privacy, Security & Accessibility

The data involve does not infringe on any of the users or riders privacy, it's only Historical trip data 
which is available to the public

Note: This data is provided according to the Divvy Data License Agreement and released on a monthly schedule.

The Data
Each trip is anonymized and includes:

Trip start day and time

Trip end day and time

Trip start station

Trip end station

Rider type (Member, Single Ride, and Day Pass)
The data has been processed to remove trips that are taken by staff as they service and inspect the system; and any trips that were below 60 seconds in length (potentially false starts or users trying to re-dock a bike to ensure it was secure).

# Stage 3: Process

# Summary of the data wrangling

importing dataset into jupyter notebook, i use data(variable) to indicates the months to make it easier to read and locate 


Task

1. Import your data.
2. Make columns consistent and merge them into a single dataframe.
3. Clean up and add data to prepare for analysis.
4. Conduct descriptive analysis.

The original dataset has 5,883,043 observations and 13 features. It was then checked for consistency in column 
names and data types and no discrepancy was detected. After which, the data row containing missing values were 
dropped and outliers were removed leaving behind 4,560,146 observations.

Importing python libraries

In [92]:
import pandas as pd

import numpy as np

import seaborn as sb

from matplotlib import pyplot as plt

In [93]:
data1 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202109-divvy-tripdata.csv')

data2 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202110-divvy-tripdata.csv')

data3 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202111-divvy-tripdata 2.csv')

data4 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202112-divvy-tripdata.csv')

data5 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202201-divvy-tripdata.csv')

data6 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202202-divvy-tripdata.csv')

data7 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202203-divvy-tripdata.csv')

data8 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202204-divvy-tripdata.csv')

data9 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202205-divvy-tripdata.csv')

data10 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202206-divvy-tripdata.csv')

data11 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202207-divvy-tripdata.csv')

data12 = pd.read_csv(r'/Users/gokeojinni/Desktop/CASE STUDY 1/202208-divvy-tripdata.csv')

Where all imported columns can be check

In [94]:
data1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9DC7B962304CBFD8,electric_bike,2021-09-28 16:07:10,2021-09-28 16:09:54,NaN,NaN,NaN,NaN,41.89,-87.68,41.89,-87.67,casual
1,F930E2C6872D6B32,electric_bike,2021-09-28 14:24:51,2021-09-28 14:40:05,NaN,NaN,NaN,NaN,41.94,-87.64,41.98,-87.67,casual
2,6EF72137900BB910,electric_bike,2021-09-28 00:20:16,2021-09-28 00:23:57,NaN,NaN,NaN,NaN,41.81,-87.72,41.80,-87.72,casual
3,78D1DE133B3DBF55,electric_bike,2021-09-28 14:51:17,2021-09-28 15:00:06,NaN,NaN,NaN,NaN,41.80,-87.72,41.81,-87.72,casual
4,E03D4ACDCAEF6E00,electric_bike,2021-09-28 09:53:12,2021-09-28 10:03:44,NaN,NaN,NaN,NaN,41.88,-87.74,41.88,-87.71,casual

Merge all data into one dataframe using concat, by using concat i'll be able to merge all data frames together without loosing any data and i'll be able to adjust the index

In [95]:
bike = pd.concat(objs= [data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12],
                 ignore_index=True)

In [96]:
bike

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9DC7B962304CBFD8,electric_bike,2021-09-28 16:07:10,2021-09-28 16:09:54,NaN,NaN,NaN,NaN,41.890000,-87.680000,41.89,-87.67,casual
1,F930E2C6872D6B32,electric_bike,2021-09-28 14:24:51,2021-09-28 14:40:05,NaN,NaN,NaN,NaN,41.940000,-87.640000,41.98,-87.67,casual
2,6EF72137900BB910,electric_bike,2021-09-28 00:20:16,2021-09-28 00:23:57,NaN,NaN,NaN,NaN,41.810000,-87.720000,41.80,-87.72,casual
3,78D1DE133B3DBF55,electric_bike,2021-09-28 14:51:17,2021-09-28 15:00:06,NaN,NaN,NaN,NaN,41.800000,-87.720000,41.81,-87.72,casual
4,E03D4ACDCAEF6E00,electric_bike,2021-09-28 09:53:12,2021-09-28 10:03:44,NaN,NaN,NaN,NaN,41.880000,-87.740000,41.88,-87.71,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883038,EC17BE8AB1D73C88,electric_bike,2022-08-12 08:28:26,2022-08-12 08:42:26,Paulina St & Montrose Ave,TA1309000021,NaN,NaN,41.961563,-87.671431,41.94,-87.64,member
5883039,57BAC0EA3A067A83,electric_bike,2022-08-22 12:30:19,2022-08-22 12:36:32,California Ave & 21st St,13096,NaN,NaN,41.853754,-87.695806,41.84,-87.69,member
5883040,9B97FAE30276C299,electric_bike,2022-08-09 07:43:31,2022-08-09 07:50:50,Clinton St & Washington Blvd,WL-012,NaN,NaN,41.883404,-87.641222,41.89,-87.66,member
5883041,2B4A9BA1E9AA9B51,electric_bike,2022-08-24 14:31:58,2022-08-24 14:40:32,Ashland Ave & Wellington Ave,13269,NaN,NaN,41.936081,-87.669896,41.93,-87.64,member
5883042,7F0D048AC7C3B81A,electric_bike,2022-08-24 09:45:04,2022-08-24 09:45:19,Clark St & Lincoln Ave,13179,NaN,NaN,41.915784,-87.634676,41.92,-87.63,member

In [97]:
bike.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [98]:
bike.isnull().sum() # checking for Nan Values in the dataframe

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    884365
start_station_id      884363
end_station_name      946303
end_station_id        946303
start_lat                  0
start_lng                  0
end_lat                 5727
end_lng                 5727
member_casual              0
dtype: int64

In [99]:
# dropping Nan rows

bike = bike.dropna(how= 'any', axis = 0)

bike = bike.drop_duplicates(ignore_index= True)

In [100]:
bike

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E92C804563F261EC,classic_bike,2021-09-05 01:25:08,2021-09-05 01:35:46,Wells St & Walton St,TA1306000011,Desplaines St & Kinzie St,TA1306000003,41.899930,-87.634430,41.888716,-87.644448,casual
1,9ECA91210441E847,classic_bike,2021-09-05 13:33:41,2021-09-05 14:06:08,Larrabee St & Armitage Ave,TA1309000006,Clark St & Leland Ave,TA1309000014,41.918084,-87.643749,41.967096,-87.667429,casual
2,3DAA144C4E85E3AA,classic_bike,2021-09-04 23:00:21,2021-09-04 23:10:00,Dearborn St & Monroe St,TA1305000006,Dearborn St & Monroe St,TA1305000006,41.881320,-87.629521,41.881320,-87.629521,casual
3,53B99FE9BD0D35F8,classic_bike,2021-09-14 16:25:16,2021-09-14 16:35:03,Kingsbury St & Kinzie St,KA1503000043,Orleans St & Elm St,TA1306000006,41.889177,-87.638506,41.902924,-87.637715,casual
4,2DB60C25C8CE3591,classic_bike,2021-09-13 22:34:54,2021-09-13 22:34:58,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4560141,986459A1B772B4DB,electric_bike,2022-08-02 08:22:10,2022-08-02 08:28:55,California Ave & Cortez St,17660,California Ave & Milwaukee Ave,13084,41.900419,-87.696685,41.922695,-87.697153,casual
4560142,305D447F43E64B00,electric_bike,2022-08-16 17:29:54,2022-08-16 17:46:16,Clinton St & Washington Blvd,WL-012,Wood St & Chicago Ave,637,41.883510,-87.641230,41.895634,-87.672069,casual
4560143,CAE08BDD4D8D572E,electric_bike,2022-08-09 08:29:08,2022-08-09 08:35:52,California Ave & Cortez St,17660,California Ave & Milwaukee Ave,13084,41.900350,-87.696709,41.922695,-87.697153,casual
4560144,1F5B9F63085D6FE9,electric_bike,2022-08-09 17:55:27,2022-08-09 18:03:12,California Ave & Cortez St,17660,California Ave & Milwaukee Ave,13084,41.900371,-87.696775,41.922695,-87.697153,casual
4560145,97184CE7B4BA160B,electric_bike,2022-08-16 16:59:23,2022-08-16 17:50:03,Clark St & Lincoln Ave,13179,Wood St & Chicago Ave,637,41.915770,-87.634628,41.895634,-87.672069,casual

The started_at and the ended_at  columns are in object, which needs to be changed to datetime to be able to read by python librbary this can also be done at the time of importing the dataset by using parse_date, but since we're merging all the dataframes into one lateron that's the reason it's being done here

In [101]:
bike['started_at'] = pd.to_datetime(bike['started_at'])

bike['ended_at'] = pd.to_datetime(bike['ended_at'])

In [102]:
bike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E92C804563F261EC,classic_bike,2021-09-05 01:25:08,2021-09-05 01:35:46,Wells St & Walton St,TA1306000011,Desplaines St & Kinzie St,TA1306000003,41.899930,-87.634430,41.888716,-87.644448,casual
1,9ECA91210441E847,classic_bike,2021-09-05 13:33:41,2021-09-05 14:06:08,Larrabee St & Armitage Ave,TA1309000006,Clark St & Leland Ave,TA1309000014,41.918084,-87.643749,41.967096,-87.667429,casual
2,3DAA144C4E85E3AA,classic_bike,2021-09-04 23:00:21,2021-09-04 23:10:00,Dearborn St & Monroe St,TA1305000006,Dearborn St & Monroe St,TA1305000006,41.881320,-87.629521,41.881320,-87.629521,casual
3,53B99FE9BD0D35F8,classic_bike,2021-09-14 16:25:16,2021-09-14 16:35:03,Kingsbury St & Kinzie St,KA1503000043,Orleans St & Elm St,TA1306000006,41.889177,-87.638506,41.902924,-87.637715,casual
4,2DB60C25C8CE3591,classic_bike,2021-09-13 22:34:54,2021-09-13 22:34:58,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual

A column was created for the days of the week, where riders took the bike

In [103]:
bike['DayOfWeek'] = bike['started_at'].dt.day_name()

In [104]:
bike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,DayOfWeek
0,E92C804563F261EC,classic_bike,2021-09-05 01:25:08,2021-09-05 01:35:46,Wells St & Walton St,TA1306000011,Desplaines St & Kinzie St,TA1306000003,41.899930,-87.634430,41.888716,-87.644448,casual,Sunday
1,9ECA91210441E847,classic_bike,2021-09-05 13:33:41,2021-09-05 14:06:08,Larrabee St & Armitage Ave,TA1309000006,Clark St & Leland Ave,TA1309000014,41.918084,-87.643749,41.967096,-87.667429,casual,Sunday
2,3DAA144C4E85E3AA,classic_bike,2021-09-04 23:00:21,2021-09-04 23:10:00,Dearborn St & Monroe St,TA1305000006,Dearborn St & Monroe St,TA1305000006,41.881320,-87.629521,41.881320,-87.629521,casual,Saturday
3,53B99FE9BD0D35F8,classic_bike,2021-09-14 16:25:16,2021-09-14 16:35:03,Kingsbury St & Kinzie St,KA1503000043,Orleans St & Elm St,TA1306000006,41.889177,-87.638506,41.902924,-87.637715,casual,Tuesday
4,2DB60C25C8CE3591,classic_bike,2021-09-13 22:34:54,2021-09-13 22:34:58,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual,Monday

# STAGE FOUR: ANALYSIS

Question:

What bike is the most prefered?

Are short rides most common or long rides?

What is the correlation between ride length and duration of ride?

What station has the highest riders turn out?

In [105]:
bike.count()

ride_id               4560146
rideable_type         4560146
started_at            4560146
ended_at              4560146
start_station_name    4560146
start_station_id      4560146
end_station_name      4560146
end_station_id        4560146
start_lat             4560146
start_lng             4560146
end_lat               4560146
end_lng               4560146
member_casual         4560146
DayOfWeek             4560146
dtype: int64

In [106]:
types_of_bike = bike.groupby('rideable_type')

In [107]:
types_of_bike.size()

rideable_type
classic_bike     2890815
docked_bike       205777
electric_bike    1463554
dtype: int64

In [108]:
types_of_bike.get_group('classic_bike')

types_of_bike.get_group('docked_bike')

#types_of_bike.get_group('electric_bike')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,DayOfWeek
42,E25F9BB77BF79AAA,docked_bike,2021-09-08 21:19:52,2021-09-08 22:04:33,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual,Wednesday
83,ADCEFA40C19C4A98,docked_bike,2021-09-17 09:59:14,2021-09-17 10:29:53,Clark St & Leland Ave,TA1309000014,Clark St & Grace St,TA1307000127,41.967096,-87.667429,41.950780,-87.659172,casual,Friday
92,F632F73A277FA645,docked_bike,2021-09-18 13:03:24,2021-09-18 13:25:51,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual,Saturday
104,61BEDFE97FDC3CD0,docked_bike,2021-09-26 09:55:28,2021-09-26 11:49:11,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual,Sunday
107,A879D2EDE2039A12,docked_bike,2021-09-03 23:23:19,2021-09-04 00:41:59,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559791,8249549F652CADC1,docked_bike,2022-08-11 09:49:37,2022-08-11 12:44:16,LaSalle St & Illinois St,13430,California Ave & Division St,13256,41.890762,-87.631697,41.903029,-87.697474,casual,Thursday
4559980,6553D6EDDBACC33A,docked_bike,2022-08-25 17:30:22,2022-08-25 17:35:06,Seeley Ave & Roscoe St,13144,Western Ave & Roscoe St,15634,41.943403,-87.679618,41.943034,-87.687288,casual,Thursday
4560080,FF5608845AB7570F,docked_bike,2022-08-05 15:34:23,2022-08-05 16:25:10,Fairbanks Ct & Grand Ave,TA1305000003,California Ave & Milwaukee Ave,13084,41.891847,-87.620580,41.922695,-87.697153,casual,Friday
4560113,4396CB18C209D3A4,docked_bike,2022-08-10 01:42:25,2022-08-10 01:52:15,California Ave & Cortez St,17660,California Ave & Milwaukee Ave,13084,41.900363,-87.696704,41.922695,-87.697153,casual,Wednesday
4560134,9BF3B891EAC1F45C,docked_bike,2022-08-02 22:00:35,2022-08-02 22:31:41,California Ave & Cortez St,17660,California Ave & Division St,13256,41.900363,-87.696704,41.903029,-87.697474,casual,Tuesday

In [109]:
bike_and_member = bike.groupby(['rideable_type','member_casual'])

In [110]:
bike_and_member.size()

rideable_type  member_casual
classic_bike   casual           1028014
               member           1862801
docked_bike    casual            205777
electric_bike  casual            644200
               member            819354
dtype: int64

In [111]:
type_of_rider = bike.groupby('member_casual')

In [112]:
type_of_rider.size()

member_casual
casual    1877991
member    2682155
dtype: int64

In [113]:
ridersPerDay = bike.groupby('DayOfWeek')

In [114]:
ridersPerDay.size()

DayOfWeek
Friday       623682
Monday       597636
Saturday     752928
Sunday       657872
Thursday     643969
Tuesday      632422
Wednesday    651637
dtype: int64

In [115]:
ridersDay = bike.groupby(['member_casual','DayOfWeek'])

In [116]:
ridersDay.size()

member_casual  DayOfWeek
casual         Friday       257979
               Monday       221075
               Saturday     401497
               Sunday       344023
               Thursday     230987
               Tuesday      205530
               Wednesday    216900
member         Friday       365703
               Monday       376561
               Saturday     351431
               Sunday       313849
               Thursday     412982
               Tuesday      426892
               Wednesday    434737
dtype: int64

In [132]:
bike.to_csv('/Users/gokeojinni/Desktop/CASE STUDY 1/bikeData1.csv')